#----------------------------------#
#-----HOME DIRECTORY GITIGNORE-----#
#----------------------------------#

# Ignore all files by default
*
!/.gitignore

# Grab config and local
!/.config
!/.config/.gitignore
!/.local
!/.local/.gitignore

# Grab profile pictures
!/.face
!/.face.icon

# Create the necessary cache directories
!/.cache
!/.cache/mpd
!/.cache/mpd/Readme.md
!/.cache/newsboat
!/.cache/newsboat/Readme.md

# Load icons config
!/.icons
!/.icons/default
!/.icons/default/index.theme

# Matlab
!/.matlab

# X symlinks
!/.Xkbmap
!/.xinitrc
!/.xprofile
!/.xserverrc
!/.xsession

# Configs that don't follow XDG_CONFIG_HOME
!/.gtkrc-2.0
!/.latexmkrc
!/.tmux.conf

# Grab some directory structure so that these are imported
!/Data
!/Data/Readme.md
!/Data/Configs
!/Data/Local
!/Data/Desktop
!/Data/Desktop/Readme.md
!/Data/Downloads
!/Data/Downloads/Readme.md
!/Data/Documents
!/Data/Documents/Readme.md
!/Data/Documents/Stignore
!/Data/Documents/Stignore/*
!/Data/Work
!/Data/Work/Readme.md
!/Data/Work/Stignore
!/Data/Work/Stignore/*
!/Data/Projects
!/Data/Projects/Readme.md
!/Data/Projects/Stignore
!/Data/Projects/Stignore/*
!/Media
!/Media/Readme.md
!/Media/Stignore
!/Media/Stignore/*
!/Shares
!/Shares/External Drives
!/Shares/Public
!/Shares/Public/Readme.md
!/Shares/Phone
!/Shares/Phone/Readme.md
!/Shares/Phone/Stignore
!/Shares/Phone/Stignore/*
