#----------------------------------#
#-----HOME DIRECTORY GITIGNORE-----#
#----------------------------------#

# Ignore all files by default
*
!/.gitignore

# Grab config and local folders
!/.config
!/.config/.gitignore

!/.local
!/Data
!/Data/.gitignore

# Ignore .ssh if folder; grab if symlink
!/.ssh
/.ssh/

# Grab profile pictures
!/.face
!/.face.icon

# Create the necessary cache directories
!/.cache
!/.cache/beets
!/.cache/beets/Readme.md
!/.cache/mpd
!/.cache/mpd/Readme.md
!/.cache/newsboat
!/.cache/newsboat/Readme.md

# Load icons config
!/.icons
!/.icons/default
!/.icons/default/index.theme

# Matlab
!/.matlab

# X symlinks
!/.Xkbmap
!/.xinitrc
!/.xprofile
!/.xserverrc
!/.xsession

# Configs that don't follow XDG_CONFIG_HOME
!/.gtkrc-2.0
!/.latexmkrc
!/.tmux.conf

#-----------#
#---MEDIA---#
#-----------#
!/Media
!/Media/Stignore
!/Media/Stignore/*

#------------#
#---SHARES---#
#------------#
!/Shares
!/Shares/External Drives
!/Shares/Public
!/Shares/Public/Readme.md
