[Desktop Entry]
Name=XSS-Lock for BSPWM
Type=Application
Exec=xss-lock --transfer-sleep-lock -- sbp-bspwmctl lock
Comment=Locking screen on power events in BSPWM
Terminal=false
StartupNotify=false
OnlyShowIn=bspwm;
