#-------------------#
#-----BLACKLIST-----#
#-------------------#

# Ignore all files by default
*

#------------------#
#-----EXTERNAL-----#
#------------------#
!/.gitignore
!/.gitmodules
!/Readme.md

# Don' get password repo
/pass

# Grab all shell scripts and select executables from bin
!/bin
!/bin/bspwmctl
!/bin/playerctl-*
!/bin/*.sh
!/bin/*.py
!/bin/arch-repo*
!/bin/sysinfo
!/bin/sysinfo/*.sh
!/bin/eww-*
!/bin/vifm-*

# Grab the gnupg symlinks, but nothing else from this directory
!/gnupg
/gnupg/*
!/gnupg/gpg-agent.conf
!/gnupg/gpg.conf

# Grab some application overrides
!/share
!/share/applications
!/share/applications/thunar-bulk-rename.desktop
!/share/applications/thunar-settings.desktop
!/share/applications/anaconda-navigator.desktop
!/share/mpd
!/share/mpd/Readme.md
!/share/ncmpcpp
!/share/ncmpcpp/lyrics
!/share/ncmpcpp/lyrics/Readme.md

# System folders
!/Calendar
!/Calendar/Readme.md
!/Contacts
!/Contacts/Readme.md
!/Desktop
!/Desktop/Readme.md
!/Downloads
!/Downloads/Readme.md
!/MATLAB
!/Data/MATLAB/Readme.md
!/MATLAB/*.m
!/Mail
!/Mail/Readme.md
!/Projects
!/Projects/Readme.md
!/Templates
!/Templates/Readme.md
!/Work
!/Work/Readme.md
!/Work/Stignore
!/Work/Stignore/*
